<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>COVID-19 AUTO DETECTION</div>
    <p>
      Use image of chest X-RAYs to determine the type of pneumonia. Currently supports COVID-19, bacterial, normal and Viral. 

    </p>
    <p>
      Developed by <a href="https://www.linkedin.com/in/tianxiang-zhou-3a814b133/">Tianxiang Zhou</a>, 
      <a href="https://www.linkedin.com/in/yinglu-cecilia-deng-4678bb170/">Yinglu Deng</a> and 
      <a href="https://www.linkedin.com/in/haoxian-rain-chen-233789179/">Haoxian Chen</a>. 
    </p>
    <p>
      Data Source: <a href="https://www.kaggle.com/paultimothymooney/chest-xray-pneumonia">Kaggle</a> and 
      <a hred="https://josephpcohen.com/w/">Dr. Joseph Cohen</a>
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
